confluent-kafka    
exceptiongroup     
fastapi            
psycopg2           
pydantic           
pydantic_core      
PyYAML             
redis              
requests           
setuptools         
starlette          
typing_extensions  
typing-inspection  
urllib3            
uvicorn            
bcrypt
PyJWT
python-dotenv